
body {
  margin: 0;
  background-color: #000000;
  color: #C5C29E;
}

#app {
  min-height: 100vh; /* 确保 #app 占满视口高度 */
  display: flex;
  flex-direction: column;
}

.link{
  cursor: pointer;
  text-decoration: none;
}
.link:hover{
  text-decoration: underline;
}